* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*ヘッダー関係*/
header {
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}

nav {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo {
  height: 70px;
}

.nav {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 30px;
  line-height: 70px;
}

.nav-item > a {
  color: #FAFAFA;
  text-decoration: none;
}
/*nav > a{*/
/*  display: inline-block;*/
/*  color: #FAFAFA;*/
/*  font-size: 16px;*/
/*  line-height: 70px;*/
/*  text-decoration: none;*/
/*}*/

/*メイン部関係*/
main {
  /*background-color: pink;*/
  width: 100%;
  height: 2000px;
}


.mv {
  background-image: url('../img/mv.png');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.mv-subtitle {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

.portfolio {
  background-color: #ECEFF1;
}

.pf-body {
  width: 920px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.pf-index > h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.underline {
  width: 70px;
  height: 3px;
  margin: 8px auto 30px;
  background-color: #EC715F;
}

.pf-description {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

.pf-contents {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /*background-color: red;*/
}

/*portfolio画像関係*/
.contents {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

#n1 {
  background-image: url('../img/sketch.jpg');
}
#n2 {
  background-image: url('../img/websuku.png');
}
#n3 {
  background-image: url('../img/write.jpg');
}
#n4 {
  background-image: url('../img/webcamp.png');
}
#n5 {
  background-image: url('../img/talk.jpg');
}
#n6 {
  background-image: url('../img/webcamp-mother.png');
}

/*portfolio画像別margin*/
.contents:nth-of-type(3n) {
  margin: 0 0 10px 0;
}
.contents:nth-child(n+4):nth-child(-n+6) {
  margin-bottom: 0;
}

/*.contents1 {*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-image: url('../img/sketch.jpg');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 10px 10px 0;*/
/*}*/
/*.contents2 {*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-image: url('../img/websuku.png');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 10px 10px 0;*/
/*}*/
/*.contents3 {*/
/*  background-image: url('../img/write.jpg');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 0 10px 0;*/
/*}*/
/*.contents4 {*/
/*  background-image: url('../img/webcamp.png');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: ;*/
/*}*/
/*.contents5 {*/
/*  background-image: url('../img/talk.jpg');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*}*/
/*.contents6 {*/
/*  background-image: url('../img/webcamp-mother.png');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*}*/

/*フッター関係*/
footer {
  background-color: olive;
  width: 100%;
  height: 60px;
}