* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/*ヘッダー関係*/
header {
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}

nav {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo {
  height: 70px;
}

.nav {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 30px;
  line-height: 70px;
}

.nav-item > a {
  color: #FAFAFA;
  text-decoration: none;
}
/*nav > a{*/
/*  display: inline-block;*/
/*  color: #FAFAFA;*/
/*  font-size: 16px;*/
/*  line-height: 70px;*/
/*  text-decoration: none;*/
/*}*/



/*メイン部関係*/
main {
  /*background-color: pink;*/
  width: 100%;
}

.mv {
  background-image: url('../img/mv.png');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.mv-subtitle {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

.portfolio {
  background-color: #ECEFF1;
}

.pf-body {
  width: 920px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.pf-index > h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.underline {
  width: 70px;
  height: 3px;
  margin: 8px auto 30px;
  background-color: #EC715F;
}

.pf-description {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

.pf-contents {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /*background-color: red;*/
}

/*portfolio画像関係*/
.pf-item {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

#n1 {
  background-image: url('../img/sketch.jpg');
}
#n2 {
  background-image: url('../img/websuku.png');
}
#n3 {
  background-image: url('../img/write.jpg');
}
#n4 {
  background-image: url('../img/webcamp.png');
}
#n5 {
  background-image: url('../img/talk.jpg');
}
#n6 {
  background-image: url('../img/webcamp-mother.png');
}

/*portfolio画像別margin*/
.pf-item:nth-of-type(3n) {
  margin: 0 0 10px 0;
}
.pf-item:nth-child(n+4):nth-child(-n+6) {
  margin-bottom: 0;
}

/*traces of my stydying*/
/*.contents1 {*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-image: url('../img/sketch.jpg');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 10px 10px 0;*/
/*}*/
/*.contents2 {*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-image: url('../img/websuku.png');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 10px 10px 0;*/
/*}*/
/*.contents3 {*/
/*  background-image: url('../img/write.jpg');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: 0 0 10px 0;*/
/*}*/
/*.contents4 {*/
/*  background-image: url('../img/webcamp.png');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  margin: ;*/
/*}*/
/*.contents5 {*/
/*  background-image: url('../img/talk.jpg');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*}*/
/*.contents6 {*/
/*  background-image: url('../img/webcamp-mother.png');*/
/*  width: 300px;*/
/*  height: 250px;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*}*/


/*Feature関係*/
.feature-body {
  width: 980px;
  text-align: center;
  margin: 0 auto;
  /*background-color: skyblue;*/
}

.feature-index > h2 {
  font-size: 32px;
  color: #000000;
  padding: 90px 0 0;
}

.feature-description {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

.feature-contents {
  display: flex;
  padding-bottom: 90px;
}

.feature-item {
  margin-right: 10px;
}

.feature-item:nth-child(3) {
  margin-right: 0;
}

.feature-icon {
  font-size: 60px;
  font-weight: normal;
}

.feature-item > h3 {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.feature-item > p {
  font-size: 16px;
  text-align: left;
  color: #000000;
}



/*Profile関係*/
.profile {
  background-color: #ECEFF1;
  padding-bottom: 90px;
}

.profile-body {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
}

.profile-body > h2 {
  padding: 90px 0 8px;
  font-size: 32px;
}

.profile-contents0 {
  display: flex;
  margin-top: 30px;
}

.profile-contents1 {
  width: 512px;
}

.profile-contents1 > img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.profile-contents2 {
  width: 512px;
}

.profile-item {
  text-align: left;
  margin-bottom: 30px;
}

.profile-item:nth-last-child {
  margin-bottom: 0;
}


/*Contact関係*/
.contact-body {
  width: 800px;
  padding: 90px 0 90px;
  margin: 0 auto;
  text-align: center;
}
.contact-body > h2 {
  font-size: 32px;
}

.contact-items {
  display: flex;
  text-align: left;
  justify-content: center;
  margin-top: 30px;
}

.contact-left {
  width: 400px;
}
.contact-left-contents {
  width: 130px;
  margin: 0 auto;
}
.contact-left-contents > h3 {
  font-size: 20px;
}
.contact-left-contents > a {
  color: #000000;
}

.mail {
  margin-bottom: 5px;
}

.tel {
  margin-top: 20px;
  margin-bottom: 5px;
}
/*.mail {*/
/*  margin: 0 auto;*/
/*}*/

/*.contact-right {*/
/*  width: 400px;*/
/*}*/

.contact-right {
  width: 400px;
}

.sns {
  width: 200px;
  margin: 0 auto;
}

.sns > h3 {
  font-size: 20px;
}

.sns > .fab {
  font-size: 50px;
  margin-right: 20px;
  color: #000000;
}
.sns > .fab:last-child {
  margin-right: 0;
}




/*フッター関係*/
footer {
  background-color: #EC715F;
  width: 100%;
  height: 60px;
}

.footer-body {
  color: #FAFAFA;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}




/*レスポンシブ対応*/
@media screen and (max-width:768px) {
  /*ヘッダー関連*/
  nav {
    width: 90%;
    height: 50px;
  }


  /*メイン部*/
  /*メインビジュアル*/
  .mv {
    background-image: url('../img/code.png');
    height: 650px;
  }
  .mv-title {
    width: 90%;
    font-size: 40px;
    color: #FAFAFA;
    margin: 0 auto;
  }
  .mv-subtitle {
    width: 90%;
    font-size: 18px;
    color: #FAFAFA ;
    margin: 0 auto;
  }

  /*Portfolio部*/
  .pf-body {
    width: 90%;
  }

  .pf-contents {
    display: block;
  }

  .pf-item {
    margin: 0 auto 10px;
  }
  #n6 { /*上の方で定義した.pf-item:nth-of-type(3n)が優先されているらしいので上書き*/
    margin: 10px auto 0;
  }

  .pf-item:nth-child(odd) {
    display: none;
  }


  /*Feature部*/
  .feature-body {
    width: 90%;
  }

  .feature-contents {
    display: block;
  }
  .feature-item {
   width: 320px;
   margin: 10px auto 10px;
  }
  .feature-item:first-child {
    width: 320px;
    margin: 0 auto 10px;
  }
  .feature-item:last-child {
    width: 320px;
    margin: 10px auto 0;
  }
}